.footer-god {
    background-color: var(--footer-color);
}

.footer-2 {
    display: flex;
    /* padding-left: 15%; */
    margin-left: 2%;
    margin-top: 4%;
    column-gap: 7%;
    padding-bottom: 1%;
    border-bottom: 2px solid var(--line-color);
    width: 185%;
    vertical-align: center;
}

.footer-2__1 h1 {
    color: var(--fifth-color);
    font-family: var(--first-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    text-transform: uppercase;
    margin-top: 17%;
}

.footer-2__1 p {
    color: var(--foter-color-2);
    font-family: var(--first-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    width: 283px;
}

.footer-2__2 p {
    color: var(--foter-color-3);
    font-family: var(--first-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 5%;
    margin-top: -1%;
}

.footer-2__2 {
    padding-top: 2%;
}

.footer-2__3 {
    padding-top: 2%;
}

.footer-2__3 p {
    color: var(--foter-color-3);
    font-family: var(--first-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 5%;
    margin-top: -1%;
}

.footer-2__4 {
    padding-top: 2%;
}

.footer-2__4 p {
    color: var(--foter-color-3);
    font-family: var(--first-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 5%;
    margin-top: -1%;
}

.footer-2__5 {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    background-color: var(--footer-color);
    padding-left: 18%;
    column-gap: 46%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.footer-2__5 p {
    margin-top: 0;
    color: var(--foter-color-2);
    font-family: var(--first-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}